.sub-item-link {
  text-decoration: none;
  color: blue;
}

.sub-item-link:visited {
  color: purple;
}

.sub-item-link:hover {
  color: orange;
}

.sub-item-link:focus {
  outline: 2px solid green;
}

.sub-item-link:active {
  color: pink;
}
